name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: debian
            build_command: build
            remote_port: 22
          - name: school
            build_command: build:staging
            remote_port: 8822
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm
      - run: npm ci
      - run: npm run ${{ matrix.build_command }}
        env:
          CI: false

      - uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.KEY }}
          REMOTE_HOST: ${{ secrets.HOST }}
          REMOTE_PORT: ${{ matrix.remote_port }}
          ARGS: "-avzr --delete"
          SOURCE: dist/
          REMOTE_USER: root
          TARGET: /root/Home/build
