name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy-debian:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'
      - run: npm install
      - run: CI=false npm run build
      
      - uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.KEY }}
          REMOTE_HOST: ${{ secrets.HOST }}
          ARGS: "-avzr --delete"
          SOURCE: dist/
          REMOTE_USER: root
          TARGET: /root/Home/build


  deploy-school:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'
      - run: npm install
      - run: CI=false npm run build:staging
      
      - uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.KEY }}
          REMOTE_HOST: ${{ secrets.HOST }}
          REMOTE_PORT: 8822
          ARGS: "-avzr --delete"
          SOURCE: dist/
          REMOTE_USER: root
          TARGET: /root/Home/build